<a href="https://colab.research.google.com/github/yogeswari19/iQube/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import pickle

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount("/content/drive")
ds=pd.read_csv("/content/drive/My Drive/ML/twitter_training.csv")
ds.head()

Mounted at /content/drive

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

Validation Data

In [ ]:
val_data=pd.read_csv("/content/drive/My Drive/ML/twitter_validation.csv")
val_data.head()

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tomâ€™s great auntie as â€˜Hayley canâ€™t get out of bedâ€™ and told to his grandma, who now thinks Iâ€™m a lazy, terrible person ðŸ¤£"
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp Iâ€™ve had Madeleine McCann in my cel...

Naming the columns

In [ ]:
ds.columns=['S.No','Refers to','Sentiment','Text']
val_data.columns=ds.columns

In [ ]:
target='Sentiment'

Performing EDA

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%pylab

Using matplotlib backend: agg
Populating the interactive namespace from numpy and matplotlib

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   S.No       74681 non-null  int64
 1   Refers to  74681 non-null  object
 2   Sentiment  74681 non-null  object
 3   Text       73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [ ]:
ds.isnull().sum()

S.No           0
Refers to      0
Sentiment      0
Text         686
dtype: int64

Inference: There are 686 samples without the 'Text'

In [ ]:
ds.dropna(inplace=True,axis=0)

In [ ]:
texts=ds['Text']
text_len=[len(t.split()) for t in texts.values]
len_mean=np.mean(text_len)

In [ ]:
fig, axes = plt.subplots(2, 1, figsize=(15, 8))
axes[0].set_title('Distribution of number of tokens in tweets')
sns.boxplot(text_len, ax=axes[0])
sns.histplot(text_len, bins=100, kde=True, ax=axes[1])
axes[1].vlines(len_mean, 0, 5000, color = 'r')
plt.annotate("mean", xy=(len_mean, 5000), xytext=(len_mean-2, 5050),
            color='r')
plt.show()

In [ ]:
extreme_outliers=ds['Text'][np.array(text_len)>125]